p {
    color: lightsteelblue;
}
h2 {
    color:lightblue
}
h1 {
    color:lightskyblue
}
ol {
    color:lightsteelblue
}
ul {
    color:lightsteelblue
}
#Go-buy-prime {
    font-size: larger;
}
.important {
    background-color: aliceblue;
}