p {
    color: lightsteelblue;
}
h2 {
    color:lightblue;
}
h1 {
    color:lightskyblue;
}
ol {
    color:lightsteelblue;
}
ul {
    color:lightsteelblue;
}
.important {
    color:rgb(0, 183, 255)
}
body {
    background-color:blanchedalmond
}
<h1> {
    margin: 4px;
    border: 1px burlywood;
    padding: 5px;
}